node_modules/
/.env
/.env.local
/.env.*.local
.next/
/dist/
/build/
/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.DS_Store
*.log
/.idea/
/.vscode/
/.history/
/.render.yaml
apps/api/node_modules/
apps/web/node_modules/
proyecto/apps/api/node_modules/
proyecto/apps/web/node_modules/
**/node_modules/